@import url('//fonts.googleapis.com/css?family=Carter+One');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(99, 11, 99);
    color: rgb(241, 238, 10);
    height: 65px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'carter one', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(47, 230, 62);
}

.info {
    font-size: 30px;
}

.gameInfo{
    padding: 0 50px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 5s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: hsl(66, 96%, 53%);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'carter one';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 5px;
    width: 0;
    position: absolute;
    background-color: #e25d0f;
    transition: width 10ms ease-in-out;
}

@media screen and (max-width: 1000px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}